<!doctype html>

<html>
<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>Tinner History</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/index.css" rel="stylesheet">
	<link href="/css/general.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery.js"></script>


	<script src="/js/history.js"></script>
	<script src="/js/index.js"></script>

</head>

<body>
	<div class="container">
		<div class="jumbotron">
			<h1>Tinner</h1>

			<!-- <div class="search-container">

					<div class="autocomplete" style="float: right;">
						<input style="border-radius: 15px 0px 0px 15px" id="searchBox" type="text" name="search" placeholder="Search..">
						<button style="border-radius: 0px 15px 15px 0px" id="searchButton" ><i class="fa fa-search"></i></button>
					</div>

			</div> -->
		</div>

		<br>

		<ul class="nav nav-pills nav-justified">
			<li class="nav-item">
				<a class="nav-link" href="index.html">Recommendations </a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="history.html">History</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="statistics.html">Statistics</a>
		</ul>

		<br>

		<div id="searchResultBox" class="store-container">
			<h3 id="s_title">Search Result: </h3>
			<div class="name" id="s_name"></div>
			<img class="pic" id="s_pic"></img>
			<div class="address" id="s_address"></div>
			<div class="centered" id="s_info"></div>
			<div id="s_select"></div>

			<div class="wrapper">
				<button id="hideButton" class="btn-danger btn-lg">
				<span class="glyphicon glyphicon-remove"></span>
			</button>
				<button id="addButton" class="btn-success btn-lg">
				<span class="glyphicon glyphicon-heart"></span>
			</button>

			</div>
		</div>

	<h3>History</h3>
	<!--<p class="noData">No places in history</p>-->
	<div>
		<ol id="history_list">
		</ol>
	</div>

	<a href="index.html">Back to recommendations</a>
	<br>
	<div id="restaurants"></div>
</body>
</html>
