<!doctype html>

<html>

<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>Tinner History</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<script src="https://www.gstatic.com/firebasejs/5.0.4/firebase.js"></script>
	<script>
		// Initialize Firebase
		var config = {
			apiKey: "AIzaSyDNVzOUQvBdcRg_YmdXy7Zdpg5AHeHcuqM",
			authDomain: "cogs-121-1526357273020.firebaseapp.com",
			databaseURL: "https://cogs-121-1526357273020.firebaseio.com",
			projectId: "cogs-121-1526357273020",
			storageBucket: "",
			messagingSenderId: "721262169117"
		};
		firebase.initializeApp(config);
	</script>

	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/index.css" rel="stylesheet">
	<link href="/css/general.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery.js"></script>


	<script src="/js/history.js"></script>
	<script src="/js/index.js"></script>
	<script src="/js/user.js"></script>

	<style>
		#alertloading {
			padding: 20px;
			background-color: #2196F3;
			color: white;
			opacity: 1;
			transition: opacity 0.6s;
			margin-bottom: 15px;
		}


		.closebtn {
			margin-left: 15px;
			color: white;
			font-weight: bold;
			float: right;
			font-size: 22px;
			line-height: 20px;
			cursor: pointer;
			transition: 0.3s;
		}

		.closebtn:hover {
			color: black;
		}
	</style>

</head>
<div id="glogin">
	<html lang="en">

	<head>
		<meta name="google-signin-scope" content="profile email">
		<meta name="google-signin-client_id" content="721262169117-sdanablvj2lhj0oa7f630jm7fdel365e.apps.googleusercontent.com">
		<script src="https://apis.google.com/js/platform.js" async defer></script>
	</head>

	<body>
		<div id="gloginbutton" class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
		<script>
			function onSignIn(googleUser) {
				// Useful data for your client-side scripts:
				var profile = googleUser.getBasicProfile();
				userName = profile.getName();
				console.log("ID: " + profile.getId()); // Don't send this directly to your server!
				console.log('Full Name: ' + profile.getName());
				$('#fullName').text(profile.getName());
				console.log('Given Name: ' + profile.getGivenName());
				console.log('Family Name: ' + profile.getFamilyName());
				console.log("Image URL: " + profile.getImageUrl());
				console.log("Email: " + profile.getEmail());

				// The ID token you need to pass to your backend:
				var id_token = googleUser.getAuthResponse().id_token;
				console.log("ID Token: " + id_token);
				$('#profileInfo').show();
				$('#glogout').show();
				$('#gloginbutton').hide();


				const database = firebase.database();
				console.log('user ' + userName);
				database.ref('users/' + userName).once('value', (snapshot) => {
					const data = snapshot.val();
					console.log("data " + data);
					$('#alertloading').hide();
					var d;
					var secs;
					var dStr;
					for (i in data) {

						d = new Date(parseInt(i));
						dStr = '<strong>' + (d.getMonth() + 1) + '/' + d.getDate() + '/' + d.getFullYear() +'</strong>' + ' - ';
						console.log(dStr);
						/* Ajax request to get the name of the given ID */
						$.ajax({
							url: '/business/' + data[i],
							type: 'GET',
							dataType: 'json',
							async: false,
							success: (restaurant) => {
								//console.log(dStr);


								$('#history_list').append('<div id="historyBox" class="history-container">' + dStr + '<strong>' + restaurant.name + '</strong>' + '<br>' + '<br>' +
									'<img src=\"' + restaurant.image_url + '\"' + 'height=300px' + '/>' + '</div>' + '<br>');
							}
						})
					}
				});
			};
		</script>
	</body>

	</html>

	<div id='profileInfo'>
		<h4>Welcome, </h4>
		<h4 id="fullName"></h4>
	</div>


	<div id="glogout">
		<a href="#" onclick="signOut();">Sign out</a>
		<script>
			function signOut() {
				var auth2 = gapi.auth2.getAuthInstance();
				auth2.signOut().then(function() {
					console.log('User signed out.');
					$('#profileInfo').hide();
					$('#glogout').hide();
					$('#gloginbutton').show();
				});

			}
		</script>
	</div>
</div>


<body>
	<div class="container">
		<div class="jumbotron">
			<h1>Tinner</h1>

			<!-- <div class="search-container">

					<div class="autocomplete" style="float: right;">
						<input style="border-radius: 15px 0px 0px 15px" id="searchBox" type="text" name="search" placeholder="Search..">
						<button style="border-radius: 0px 15px 15px 0px" id="searchButton" ><i class="fa fa-search"></i></button>
					</div>

			</div> -->
		</div>

		<br>

		<ul class="nav nav-pills nav-justified">
			<li class="nav-item">
				<a class="nav-link" href="index.html">Recommendations </a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="history.html">History</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="statistics.html">Statistics</a>
		</ul>

		<br>

		<div id="searchResultBox" class="store-container">
			<h3 id="s_title">Search Result: </h3>
			<div class="name" id="s_name"></div>
			<img class="pic" id="s_pic"></img>
			<div class="address" id="s_address"></div>
			<div class="centered" id="s_info"></div>
			<div id="s_select"></div>

			<div class="wrapper">
				<button id="hideButton" class="btn-danger btn-lg">
				<span class="glyphicon glyphicon-remove"></span>
			</button>
				<button id="addButton" class="btn-success btn-lg">
				<span class="glyphicon glyphicon-heart"></span>
			</button>

			</div>
		</div>

		<div class="alert info" id="alertloading">
			<span class="closebtn">&times;</span>
			<strong>Loading...</strong> your restaurant history
		</div>

		<h3>History</h3>
		<!--<p class="noData">No places in history</p>-->


		<div>
			<ol id="history_list">
			</ol>
		</div>

		<a href="index.html">Back to recommendations</a>
		<br>
		<div id="restaurants"></div>
</body>

</html>
