<!doctype html>

<html>
<head>
	<title>Tinner</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<script src="https://code.jquery.com/jquery.js"></script>

	<script src="/js/index.js"></script>

</head>

<body>
	<h1>Recommendations</h1>

	<a href="history.html">History</a>
	<a href="matches.html">Matches</a>
	<a href="statistics.html">Statistics</a>
	<br>
	<div id="name"></div>
	<img id="pic"></img>
	<div id="info"></div>
	<div id="select"></div>

</body>
</html>
