<!doctype html>

<html>
<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>Tinner</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">



	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/index.css" rel="stylesheet">
	<link href="/css/general.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery.js"></script>

	<script src="/js/index.js"></script>
</head>

<body>
	<div class="container">

		<div class="jumbotron">
			<h1>Tinner</h1>

			<div class="search-container">
    <!--<form action="/action_page.php">-->
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    <!--</form>-->
  </div>
			<!--<p>human-computer interaction &middot; social computing &middot; crowdsourcing</p>-->
			<!--<button id="testjs" class="btn btn-primary btn-lg">Test Javascript</button>-->
		</div>


		<h3>Recommendations</h3>
		<div class="recom-container">
			<button id="reloadButton">Show me more</button>
			
			<div id="r_recom-data"><p>Recommendations show up here</p>
			</div>

			<div id="r_name"></div>
			<img id="r_pic"></img>
			<div id="r_address"></div>
			<div id="r_info"></div>
			<div id="r_select"></div>
		</div>

		<div class="recom-container">
			<button id="discoverButton">Discover New Cuisine</button>
			<div id="d_recom-data"><p>Click to discover!</p>
			</div>

			<div id="d_name"></div>
			<img id="d_pic"></img>
			<div id="d_address"></div>
			<div id="d_info"></div>
			<div id="d_select"></div>
		</div>

		<div class="storeBox">
			<div id="name"></div>
			<img id="pic"></img>
			<div id="address"></div>
			<div id="info"></div>
			<div id="select"></div>
			<button id="addButton">+</button>
			<button id="hideButton">X</button>
		</div>




		<h3>History</h3>
		<a href="history.html">See more</a>

		<h3>Statistics</h3>
		<a href="statistics.html">See more</a>

</body>
</html>
