<!doctype html>

<html>
<head>
	<title>HCI Project Portfolio</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="../public/css/bootstrap.min.css" rel="stylesheet">
	<link href="../public/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="../public/css/index.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="../public/js/bootstrap.min.js"></script>

	<script src="../public/js/index.js"></script>


</head>

<body>


</body>
</html>
