@font-face {
    font-family: 'Skia';
    src:url('/fonts/Skia.ttf.woff') format('woff'),
        url('/fonts/Skia.ttf.svg#Skia') format('svg'),
        url('/fonts/Skia.ttf.eot'),
        url('/fonts/Skia.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

.back-button {
}