/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */
	color: #CC00AA;
}

/* this style exists to make it obvious that you've successfully linked
   the CSS to the page. feel free to remove it once the link is working. */
body {
     border: 1px dotted gray;
     padding: 20px;
}

img{

}

button {
		background-color:#ff7a9d;

    border: none;
    color: white;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
		border-radius: 15px;
}

button:hover {
	background-color: #ff4f4f;
}

#d_hideButton {
	width: 40%;
}

#r_hideButton {
  /* background-color: #f44336;
  float: right; */
	width: 40%;
}

#s_hideButton {
  /* background-color: #f44336;
  float: right; */
	width: 40%;
}

.btn-lg {
	/* background-color: #4CAF50; */
	width: 40%;

}

#reloadButton {
	/*float: right;*/
}

#glogin {
	float: right;
	display: inline;
}

#fullName {
	display: inline;
}

#s_title {
	float: center;
	text-align: center;
}

#alertsuccess{
    padding: 20px;
    background-color: #4CAF50;
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.nav-item {
	background-color: #f7f7f7;
}

.wrapper {
	text-align: center;
	width: 600px;
	margin: 0 auto;
}
.store-container {
	background: none;
	/*background-color: #FFCBA0;*/
	background-color: #FFA0A0; /*light red*/
	border-radius: 15px;
	padding: 10px 10px;
	height: 60vh;
	margin: auto;
}

.history-container {
	background: none;
	/*background-color: #FFCBA0;*/
	background-color: #f7f7f7;
	border-radius: 15px;
	padding: 10px 10px;
	height: auto;
	margin: auto;
	text-align: center;
}

#searchResultBox {
	height: 70vh;
}

.name {
	font-size: 20px;
	text-align: center;
}

.address {
	font-size: 16px;
	text-align: center;
}

.pic {
	display: block;
  margin-left: auto;
  margin-right: auto;
	height: 40vh;
	width: auto;
	border-radius: 15px;
}


.jumbotron {
	position: relative;
	background: none;
	background-color: #f27474;
	margin-top: 0px;
	margin-bottom: 0px;
}

.jumbotron:after {
     content:"";
     background: url("../images/lorempixel.jumbotron.jpeg");
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;
}

.jumbotron p {
     color: #6e6e6e;
}

.jumbotron h1 {
			display: inline;
}

.project a {
     text-align: center;
}

.jumbotron p.active {
     color: #1f6ddd;
}

.centered {
	text-align: center;
}

.search-container {
  float: right;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}


.search-container button {
	display: inline;
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none
  cursor: pointer;
}

.search-container button:hover {
  background: #ccc;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}
