/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */
	color: #CC00AA;
}

/* this style exists to make it obvious that you've successfully linked
   the CSS to the page. feel free to remove it once the link is working. */
body {
     border: 1px dotted gray;
     padding: 20px;
}

img{
    width:100%;
    max-width:200px;
		max-height: 200px;
}

button {
    background-color: #008CBA; /*blue*/
    border: none;
    color: white;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#hideButton {
	background-color: #f44336;
	float: right;
}

#addButton {
	background-color: #4CAF50;

}

#reloadButton {
	/*float: right;*/
}

.store-container {
	background: none;
	background-color: #e2ecff;
	border: solid;
	border-color: #008CBA;
	padding: 10px 10px;
	max-width: 250px;
}

.name {
	font-size: 20px;
	text-align: center;
}

.address {
	font-size: 16px;
	text-align: center;
}

.pic {
	display: block;
  margin-left: auto;
  margin-right: auto;
	width: 99%;
}


.jumbotron {
	position: relative;
	background: none;
	background-color: #e2ecff;
}

.jumbotron:after {
     content:"";
     background: url("../images/lorempixel.jumbotron.jpeg");
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;
}

.jumbotron p {
     color: #6e6e6e;
}

.jumbotron h1 {
			display: inline;
}

.project a {
     text-align: center;
}

.jumbotron p.active {
     color: #1f6ddd;
}

.search-container {
  float: right;
}

input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.search-container button {
	display: inline;
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none
  cursor: pointer;
}

.search-container button:hover {
  background: #ccc;
}
